In [1]:
import pandas as pd
import glob

In [2]:
df = pd.concat([pd.read_csv(f) for f in glob.glob('csv_512_16/*.csv')], ignore_index = True)

In [3]:
df.head()

,FILE_NAME,NUM_JOBS,NUM_MACHINES,ITERATION_SIZE,POPULATION_SIZE,ITERATION,MAKESPAN
0,u_c_hihi.0,512,16,100,100,1,126730426.5
1,u_c_hihi.0,512,16,100,100,2,[121461406.0]
2,u_c_hihi.0,512,16,100,100,3,[107658973.5]
3,u_c_hihi.0,512,16,100,100,4,[115321173.75]
4,u_c_hihi.0,512,16,100,100,5,[118700919.5]

In [4]:
#conertendo de str para double
df['MAKESPAN'] = df['MAKESPAN'].apply(lambda x: float(x.replace('[','').replace(']','')) if isinstance(x, str) else x)
df.head()

,FILE_NAME,NUM_JOBS,NUM_MACHINES,ITERATION_SIZE,POPULATION_SIZE,ITERATION,MAKESPAN
0,u_c_hihi.0,512,16,100,100,1,1.267304e+08
1,u_c_hihi.0,512,16,100,100,2,1.214614e+08
2,u_c_hihi.0,512,16,100,100,3,1.076590e+08
3,u_c_hihi.0,512,16,100,100,4,1.153212e+08
4,u_c_hihi.0,512,16,100,100,5,1.187009e+08

In [5]:
#arquivos usados
df['FILE_NAME'].unique()

array(['u_c_hihi.0', 'u_c_hilo.0', 'u_c_lohi.0', 'u_c_lolo.0'],
      dtype=object)

In [6]:
#menor makespan de todos
df[df.MAKESPAN == df.MAKESPAN.min()]

,FILE_NAME,NUM_JOBS,NUM_MACHINES,ITERATION_SIZE,POPULATION_SIZE,ITERATION,MAKESPAN
18155,u_c_lolo.0,512,16,500,50,465,13926.618421
18177,u_c_lolo.0,512,16,500,50,487,13926.618421

In [7]:
#menor makespan de todos
df[df.MAKESPAN == df.MAKESPAN.max()]

,FILE_NAME,NUM_JOBS,NUM_MACHINES,ITERATION_SIZE,POPULATION_SIZE,ITERATION,MAKESPAN
11028,u_c_hihi.0,512,16,5,250,1,149066271.0
14712,u_c_hihi.0,512,16,5,500,1,149066271.0

In [8]:
""" NUM_JOBS = 2048 || NUM_MACHINES = 64
primeira geração = 1545754.10
última geração   = 562674.53
resultado = 2.74x
B.u_s_hilo              |    População/iteração = 500    |
MCT =          47549.7  |    562674.53                   | 11.83x
min-min =      33445.4  |    562674.53                   | 16.82x 
sufferage =    41777.5  |    562674.53                   | 13.46x
p_u_CHC_best = 28170.9  |    562674.53                   | 19.97x
p_u_CHC_avg =  28209.7  |    562674.53                   | 19.94x
"""

' NUM_JOBS = 2048 || NUM_MACHINES = 64\nprimeira geração = 1545754.10\núltima geração   = 562674.53\nresultado = 2.74x\nB.u_s_hilo              |    População/iteração = 500    |\nMCT =          47549.7  |    562674.53                   | 11.83x\nmin-min =      33445.4  |    562674.53                   | 16.82x \nsufferage =    41777.5  |    562674.53                   | 13.46x\np_u_CHC_best = 28170.9  |    562674.53                   | 19.97x\np_u_CHC_avg =  28209.7  |    562674.53                   | 19.94x\n'

In [9]:
""" NUM_JOBS = 1024 || NUM_MACHINES = 32
primeira geração = 3842.49
última geração   = 691.65 
resultado = 5.55x
A.u_i_lolo           |    População/iteração = 500   |
MCT =          73.4  |    691.65                |  9.42x 
min-min =      63.7  |    691.65                | 10.85x 
sufferage =    55.4  |    691.65                | 12.48x 
p_u_CHC_best = 50.2  |    691.65                | 13.72x 
p_u_CHC_avg =  50.4  |    691.65                | 13.77x 

"""

' NUM_JOBS = 1024 || NUM_MACHINES = 32\nprimeira geração = 3842.49\núltima geração   = 691.65 \nresultado = 5.55x\nA.u_i_lolo           |    População/iteração = 500   |\nMCT =          73.4  |    691.65                |  9.42x \nmin-min =      63.7  |    691.65                | 10.85x \nsufferage =    55.4  |    691.65                | 12.48x \np_u_CHC_best = 50.2  |    691.65                | 13.72x \np_u_CHC_avg =  50.4  |    691.65                | 13.77x \n\n'

In [10]:

""" NUM_JOBS = 512 || NUM_MACHINES = 16
u_c_hihi                |    População/iteração = 500   |
primeira geração = 138024325.0
última geração   = 28537839.75
resultado = 4.83x    
                             1 release  -  randint - MT19937
min-min =      860674   |    28537839.75/24844378.5/25240579.0                | 33x   |
sufferage =    10249174 |    28537839.75/24844378.5/25240579.0                | 2.78x |
pCHC_best =    7461819  |    28537839.75/24844378.5/25240579.0                | 3.82x |
pCHC_avg =     7481195  |    28537839.75/24844378.5/25240579.0                | 3.81x |
p_u_CHC_best = 7381570  |    28537839.75/24844378.5/25240579.0                | 3.86x |
p_u_CHC_avg =  7394702  |    28537839.75/24844378.5/25240579.0                | 3.85x |

primeira_release = 28537839.75
pop_500_it_1000 =  24727492.5 (gerador)
pop_500_it_500 =   25240579.0 (gerador)
pop_500_it_1000 =  24461005.5 (randint)
pop_500_it_500 =   24844378.5 (randint)


"""

' NUM_JOBS = 512 || NUM_MACHINES = 16\nu_c_hihi                |    População/iteração = 500   |\nprimeira geração = 138024325.0\núltima geração   = 28537839.75\nresultado = 4.83x\nmin-min =      860674   |    28537839.75                | 33x \nsufferage =    10249174 |    28537839.75                | 2.78x \npCHC_best =    7461819  |    28537839.75                | 3.82x \npCHC_avg =     7481195  |    28537839.75                | 3.81x \np_u_CHC_best = 7381570  |    28537839.75                | 3.86x \np_u_CHC_avg =  7394702  |    28537839.75                | 3.85x \n\n'

In [ ]:
df[]