In [1]:
import pandas as pd
import glob
pd.options.display.float_format = '{:.2f}'.format

In [2]:
df = pd.concat([pd.read_csv(f) for f in glob.glob('csv_512_16/*.csv')], ignore_index = True)

In [3]:
df.head()

,FILE_NAME,NUM_JOBS,NUM_MACHINES,ITERATION_SIZE,POPULATION_SIZE,ITERATION,MAKESPAN
0,u_c_hihi.0,512,16,5000,1000,1,168389676.5
1,u_c_hihi.0,512,16,5000,1000,2,[121461406.0]
2,u_c_hihi.0,512,16,5000,1000,3,[133528459.5]
3,u_c_hihi.0,512,16,5000,1000,4,[110419460.0]
4,u_c_hihi.0,512,16,5000,1000,5,[121461406.0]

In [4]:
#conertendo de str para double
df['MAKESPAN'] = df['MAKESPAN'].apply(lambda x: round(float(x.replace('[','').replace(']','')),2) if isinstance(x, str) else x)
df

,FILE_NAME,NUM_JOBS,NUM_MACHINES,ITERATION_SIZE,POPULATION_SIZE,ITERATION,MAKESPAN
0,u_c_hihi.0,512,16,5000,1000,1,168389676.50
1,u_c_hihi.0,512,16,5000,1000,2,121461406.00
2,u_c_hihi.0,512,16,5000,1000,3,133528459.50
3,u_c_hihi.0,512,16,5000,1000,4,110419460.00
4,u_c_hihi.0,512,16,5000,1000,5,121461406.00
...,...,...,...,...,...,...,...
19999,u_c_lolo.0,512,16,5000,1000,4997,19983.44
20000,u_c_lolo.0,512,16,5000,1000,4998,18671.54
20001,u_c_lolo.0,512,16,5000,1000,4999,18744.93
20002,u_c_lolo.0,512,16,5000,1000,5000,22153.09
20003,u_c_lolo.0,512,16,5000,1000,5001,21301.05

In [5]:
#arquivos usados
df['FILE_NAME'].unique()

array(['u_c_hihi.0', 'u_c_lohi.0', 'u_c_hilo.0', 'u_c_lolo.0'],
      dtype=object)

In [6]:
#menor makespan de todos
df[df.MAKESPAN == df.MAKESPAN.min()]

,FILE_NAME,NUM_JOBS,NUM_MACHINES,ITERATION_SIZE,POPULATION_SIZE,ITERATION,MAKESPAN
18190,u_c_lolo.0,512,16,5000,1000,3188,17125.36

In [7]:
#menor makespan de todos
df[df.MAKESPAN == df.MAKESPAN.max()]

,FILE_NAME,NUM_JOBS,NUM_MACHINES,ITERATION_SIZE,POPULATION_SIZE,ITERATION,MAKESPAN
0,u_c_hihi.0,512,16,5000,1000,1,168389676.50

In [8]:
df[(df.FILE_NAME == 'u_c_lolo.0')].sort_values(by=['MAKESPAN'])

,FILE_NAME,NUM_JOBS,NUM_MACHINES,ITERATION_SIZE,POPULATION_SIZE,ITERATION,MAKESPAN
18190,u_c_lolo.0,512,16,5000,1000,3188,17125.36
17295,u_c_lolo.0,512,16,5000,1000,2293,17227.11
18084,u_c_lolo.0,512,16,5000,1000,3082,17227.11
15894,u_c_lolo.0,512,16,5000,1000,892,17364.79
16760,u_c_lolo.0,512,16,5000,1000,1758,17391.37
...,...,...,...,...,...,...,...
15007,u_c_lolo.0,512,16,5000,1000,5,35785.77
15006,u_c_lolo.0,512,16,5000,1000,4,36174.05
15005,u_c_lolo.0,512,16,5000,1000,3,36508.04
15004,u_c_lolo.0,512,16,5000,1000,2,37268.62
15003,u_c_lolo.0,512,16,5000,1000,1,47714.36

In [9]:
df['ITERATION_SIZE'].unique()

array([5000])

In [10]:
df['POPULATION_SIZE'].unique()

array([1000])

In [11]:
df[(df.FILE_NAME == 'u_c_lohi.0')].sort_values(by=['MAKESPAN'])

,FILE_NAME,NUM_JOBS,NUM_MACHINES,ITERATION_SIZE,POPULATION_SIZE,ITERATION,MAKESPAN
5598,u_c_lohi.0,512,16,5000,1000,598,597801.70
5850,u_c_lohi.0,512,16,5000,1000,850,598678.83
5616,u_c_lohi.0,512,16,5000,1000,616,609460.22
5620,u_c_lohi.0,512,16,5000,1000,620,609460.22
5635,u_c_lohi.0,512,16,5000,1000,635,610929.21
...,...,...,...,...,...,...,...
5006,u_c_lohi.0,512,16,5000,1000,6,4447328.44
5003,u_c_lohi.0,512,16,5000,1000,3,4583146.39
5002,u_c_lohi.0,512,16,5000,1000,2,4583146.39
5005,u_c_lohi.0,512,16,5000,1000,5,4598681.25
5001,u_c_lohi.0,512,16,5000,1000,1,6077650.65

In [12]:
df[(df.FILE_NAME == 'u_c_hihi.0')].sort_values(by=['MAKESPAN'])

,FILE_NAME,NUM_JOBS,NUM_MACHINES,ITERATION_SIZE,POPULATION_SIZE,ITERATION,MAKESPAN
442,u_c_hihi.0,512,16,5000,1000,443,25240579.00
369,u_c_hihi.0,512,16,5000,1000,370,25240579.00
505,u_c_hihi.0,512,16,5000,1000,506,25456522.50
809,u_c_hihi.0,512,16,5000,1000,810,25815457.25
413,u_c_hihi.0,512,16,5000,1000,414,25815457.25
...,...,...,...,...,...,...,...
4,u_c_hihi.0,512,16,5000,1000,5,121461406.00
1,u_c_hihi.0,512,16,5000,1000,2,121461406.00
7,u_c_hihi.0,512,16,5000,1000,8,124221892.50
2,u_c_hihi.0,512,16,5000,1000,3,133528459.50
0,u_c_hihi.0,512,16,5000,1000,1,168389676.50

In [13]:
df[(df.FILE_NAME == 'u_c_hilo.0')].sort_values(by=['MAKESPAN'])

,FILE_NAME,NUM_JOBS,NUM_MACHINES,ITERATION_SIZE,POPULATION_SIZE,ITERATION,MAKESPAN
14412,u_c_hilo.0,512,16,5000,1000,4411,612854.77
11747,u_c_hilo.0,512,16,5000,1000,1746,612854.77
11830,u_c_hilo.0,512,16,5000,1000,1829,612854.77
12222,u_c_hilo.0,512,16,5000,1000,2221,612854.77
12308,u_c_hilo.0,512,16,5000,1000,2307,612854.77
...,...,...,...,...,...,...,...
10004,u_c_hilo.0,512,16,5000,1000,3,1184149.52
10018,u_c_hilo.0,512,16,5000,1000,17,1199063.67
10005,u_c_hilo.0,512,16,5000,1000,4,1199063.67
10003,u_c_hilo.0,512,16,5000,1000,2,1225709.53
10002,u_c_hilo.0,512,16,5000,1000,1,1493058.09

In [14]:
""" NUM_JOBS = 2048 || NUM_MACHINES = 64
primeira geração = 1545754.10
última geração   = 562674.53
resultado = 2.74x
B.u_s_hilo              |    População/iteração = 500    |
MCT =          47549.7  |    562674.53                   | 11.83x
min-min =      33445.4  |    562674.53                   | 16.82x 
sufferage =    41777.5  |    562674.53                   | 13.46x
p_u_CHC_best = 28170.9  |    562674.53                   | 19.97x
p_u_CHC_avg =  28209.7  |    562674.53                   | 19.94x
"""

' NUM_JOBS = 2048 || NUM_MACHINES = 64\nprimeira geração = 1545754.10\núltima geração   = 562674.53\nresultado = 2.74x\nB.u_s_hilo              |    População/iteração = 500    |\nMCT =          47549.7  |    562674.53                   | 11.83x\nmin-min =      33445.4  |    562674.53                   | 16.82x \nsufferage =    41777.5  |    562674.53                   | 13.46x\np_u_CHC_best = 28170.9  |    562674.53                   | 19.97x\np_u_CHC_avg =  28209.7  |    562674.53                   | 19.94x\n'

In [15]:
""" NUM_JOBS = 1024 || NUM_MACHINES = 32
primeira geração = 3842.49
última geração   = 691.65 
resultado = 5.55x
A.u_i_lolo           |    População/iteração = 500   |
MCT =          73.4  |    691.65                |  9.42x 
min-min =      63.7  |    691.65                | 10.85x 
sufferage =    55.4  |    691.65                | 12.48x 
p_u_CHC_best = 50.2  |    691.65                | 13.72x 
p_u_CHC_avg =  50.4  |    691.65                | 13.77x 

"""

' NUM_JOBS = 1024 || NUM_MACHINES = 32\nprimeira geração = 3842.49\núltima geração   = 691.65 \nresultado = 5.55x\nA.u_i_lolo           |    População/iteração = 500   |\nMCT =          73.4  |    691.65                |  9.42x \nmin-min =      63.7  |    691.65                | 10.85x \nsufferage =    55.4  |    691.65                | 12.48x \np_u_CHC_best = 50.2  |    691.65                | 13.72x \np_u_CHC_avg =  50.4  |    691.65                | 13.77x \n\n'

In [16]:

""" NUM_JOBS = 512 || NUM_MACHINES = 16
u_c_hihi                |    População/iteração = 500   |
primeira geração = 138024325.0
última geração   = 28537839.75
resultado = 4.83x    
                             1 release  -  randint - MT19937
min-min =      860674   |    28537839.75/24844378.5/25240579.0                | 33x   |
sufferage =    10249174 |    28537839.75/24844378.5/25240579.0                | 2.78x |
pCHC_best =    7461819  |    28537839.75/24844378.5/25240579.0                | 3.82x |
pCHC_avg =     7481195  |    28537839.75/24844378.5/25240579.0                | 3.81x |
p_u_CHC_best = 7381570  |    28537839.75/24844378.5/25240579.0                | 3.86x |
p_u_CHC_avg =  7394702  |    28537839.75/24844378.5/25240579.0                | 3.85x |

primeira_release = 28537839.75
pop_500_it_1000 =  24727492.5 (gerador)
pop_500_it_500 =   25240579.0 (gerador)
pop_500_it_1000 =  24461005.5 (randint)
pop_500_it_500 =   24844378.5 (randint)


"""

' NUM_JOBS = 512 || NUM_MACHINES = 16\nu_c_hihi                |    População/iteração = 500   |\nprimeira geração = 138024325.0\núltima geração   = 28537839.75\nresultado = 4.83x    \n                             1 release  -  randint - MT19937\nmin-min =      860674   |    28537839.75/24844378.5/25240579.0                | 33x   |\nsufferage =    10249174 |    28537839.75/24844378.5/25240579.0                | 2.78x |\npCHC_best =    7461819  |    28537839.75/24844378.5/25240579.0                | 3.82x |\npCHC_avg =     7481195  |    28537839.75/24844378.5/25240579.0                | 3.81x |\np_u_CHC_best = 7381570  |    28537839.75/24844378.5/25240579.0                | 3.86x |\np_u_CHC_avg =  7394702  |    28537839.75/24844378.5/25240579.0                | 3.85x |\n\nprimeira_release = 28537839.75\npop_500_it_1000 =  24727492.5 (gerador)\npop_500_it_500 =   25240579.0 (gerador)\npop_500_it_1000 =  24461005.5 (randint)\npop_500_it_500 =   24844378.5 (randint)\n\n\n'

In [17]:
df

,FILE_NAME,NUM_JOBS,NUM_MACHINES,ITERATION_SIZE,POPULATION_SIZE,ITERATION,MAKESPAN
0,u_c_hihi.0,512,16,5000,1000,1,168389676.50
1,u_c_hihi.0,512,16,5000,1000,2,121461406.00
2,u_c_hihi.0,512,16,5000,1000,3,133528459.50
3,u_c_hihi.0,512,16,5000,1000,4,110419460.00
4,u_c_hihi.0,512,16,5000,1000,5,121461406.00
...,...,...,...,...,...,...,...
19999,u_c_lolo.0,512,16,5000,1000,4997,19983.44
20000,u_c_lolo.0,512,16,5000,1000,4998,18671.54
20001,u_c_lolo.0,512,16,5000,1000,4999,18744.93
20002,u_c_lolo.0,512,16,5000,1000,5000,22153.09
20003,u_c_lolo.0,512,16,5000,1000,5001,21301.05

In [18]:
#['u_c_hihi.0', 'u_c_lohi.0', 'u_c_hilo.0', 'u_c_lolo.0']

In [19]:
df[(df.FILE_NAME == 'u_c_hihi.0')].sort_values(by=['MAKESPAN'])

,FILE_NAME,NUM_JOBS,NUM_MACHINES,ITERATION_SIZE,POPULATION_SIZE,ITERATION,MAKESPAN
442,u_c_hihi.0,512,16,5000,1000,443,25240579.00
369,u_c_hihi.0,512,16,5000,1000,370,25240579.00
505,u_c_hihi.0,512,16,5000,1000,506,25456522.50
809,u_c_hihi.0,512,16,5000,1000,810,25815457.25
413,u_c_hihi.0,512,16,5000,1000,414,25815457.25
...,...,...,...,...,...,...,...
4,u_c_hihi.0,512,16,5000,1000,5,121461406.00
1,u_c_hihi.0,512,16,5000,1000,2,121461406.00
7,u_c_hihi.0,512,16,5000,1000,8,124221892.50
2,u_c_hihi.0,512,16,5000,1000,3,133528459.50
0,u_c_hihi.0,512,16,5000,1000,1,168389676.50

In [20]:
df[(df.FILE_NAME == 'u_c_lohi.0')].sort_values(by=['MAKESPAN'])

,FILE_NAME,NUM_JOBS,NUM_MACHINES,ITERATION_SIZE,POPULATION_SIZE,ITERATION,MAKESPAN
5598,u_c_lohi.0,512,16,5000,1000,598,597801.70
5850,u_c_lohi.0,512,16,5000,1000,850,598678.83
5616,u_c_lohi.0,512,16,5000,1000,616,609460.22
5620,u_c_lohi.0,512,16,5000,1000,620,609460.22
5635,u_c_lohi.0,512,16,5000,1000,635,610929.21
...,...,...,...,...,...,...,...
5006,u_c_lohi.0,512,16,5000,1000,6,4447328.44
5003,u_c_lohi.0,512,16,5000,1000,3,4583146.39
5002,u_c_lohi.0,512,16,5000,1000,2,4583146.39
5005,u_c_lohi.0,512,16,5000,1000,5,4598681.25
5001,u_c_lohi.0,512,16,5000,1000,1,6077650.65

In [21]:
df[(df.FILE_NAME == 'u_c_hilo.0')].sort_values(by=['MAKESPAN'])

,FILE_NAME,NUM_JOBS,NUM_MACHINES,ITERATION_SIZE,POPULATION_SIZE,ITERATION,MAKESPAN
14412,u_c_hilo.0,512,16,5000,1000,4411,612854.77
11747,u_c_hilo.0,512,16,5000,1000,1746,612854.77
11830,u_c_hilo.0,512,16,5000,1000,1829,612854.77
12222,u_c_hilo.0,512,16,5000,1000,2221,612854.77
12308,u_c_hilo.0,512,16,5000,1000,2307,612854.77
...,...,...,...,...,...,...,...
10004,u_c_hilo.0,512,16,5000,1000,3,1184149.52
10018,u_c_hilo.0,512,16,5000,1000,17,1199063.67
10005,u_c_hilo.0,512,16,5000,1000,4,1199063.67
10003,u_c_hilo.0,512,16,5000,1000,2,1225709.53
10002,u_c_hilo.0,512,16,5000,1000,1,1493058.09

In [22]:
df[(df.FILE_NAME == 'u_c_lolo.0')].sort_values(by=['MAKESPAN'])

,FILE_NAME,NUM_JOBS,NUM_MACHINES,ITERATION_SIZE,POPULATION_SIZE,ITERATION,MAKESPAN
18190,u_c_lolo.0,512,16,5000,1000,3188,17125.36
17295,u_c_lolo.0,512,16,5000,1000,2293,17227.11
18084,u_c_lolo.0,512,16,5000,1000,3082,17227.11
15894,u_c_lolo.0,512,16,5000,1000,892,17364.79
16760,u_c_lolo.0,512,16,5000,1000,1758,17391.37
...,...,...,...,...,...,...,...
15007,u_c_lolo.0,512,16,5000,1000,5,35785.77
15006,u_c_lolo.0,512,16,5000,1000,4,36174.05
15005,u_c_lolo.0,512,16,5000,1000,3,36508.04
15004,u_c_lolo.0,512,16,5000,1000,2,37268.62
15003,u_c_lolo.0,512,16,5000,1000,1,47714.36